@font-face {
    font-family: 'Blacksword';
    src: url('./fonts/Blacksword.otf');
}

@font-face {
    font-family: 'Bmjua';
    src: url('./fonts/BMJUA.ttf');
}

@import './base/common';
@import './base/variable';
@import './base/mixin';

@import './desktop/App.scss';
@import './mobile/App.scss';
@import './tablet/App.scss'